<!DOCTYPE html>
<html lang="en"  ng-app="validationApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registration form</title>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/darkly.css" />
  <link rel="stylesheet" href="registration-form.css" />
  <script src="js/jquery-1.12.0.min.js" charset="utf-8"></script>
  <script src="js/bootstrap.js" charset="utf-8"></script>
  <script src="js/angular.min.js" charset="utf-8"></script>
</head>
<body>
  <header class="header-form" id="top">
    <div class="header-block">
      <div class="header-context-block">
        <div id="logo">
          <img src="images/logo.png">
        </div>
        <div>
          <h1>Campaign title</h1>
        </div>
      </div>
      <div id="img-header"></div>
      <div class="pattern"></div>

    </div>
  </header>
  <div class="container" ng-controller="ValidationController">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-offset-1">
      <h1>Register</h1>
    </div>
  </div>
  <h5>* Marked fields are required</h5>
  <form name="validForm" novalidate ng-submit="addUser(newUser)" ng-class="showValidation ? 'validate' : ''">
    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert" ng-show="warningMessage">
            <div class="row">
              <div class="col-md-1 col-sm-2 col-xs-4">
                <span class="glyphicon glyphicon-info-sign gliph-large" aria-hidden="true"></span>
              </div>
              <div class="col-md-8 alert-msg">
                <p>Review your data</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>First name *</label>
            <input name="userName" type="text" placeholder="Enter your first name" class="form-control" required ng-model="newUser.name" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userName.$error)"></div>
          </div>
        </div>
        
        <div class="col-md-6">
         <div class="form-group">
            <label>Last name *</label>
            <input name="userLastName" type="text" placeholder="Enter your last name" class="form-control" required ng-model="newUser.lastname" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userLastName.$error)"></div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
         <div class="form-group">
            <label>Email address *</label>
            <input name="userEmail" type="email" placeholder="Enter your email address" class="form-control" ng-pattern="regExp.email" required ng-model="newUser.email" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userEmail.$error)"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
         <div class="form-group">
            <label>Password *</label>
            <input name="userPass" type='password' placeholder="Enter your password" class="form-control" required ng-model="newUser.pass" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userPass.$error)"></div>
          </div>
        </div>

        <div class="col-md-6">
         <div class="form-group">
            <label>Confirm password *</label>
            <input name="userConfPass" type="password" placeholder="Confirm your password" class="form-control" match="newUser.pass" required ng-model="newUser.confpass" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userConfPass.$error)"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
         <div class="form-group">
            <label>Address line 1 *</label>
            <input name="userAddress1" type="text" placeholder="Enter your address" class="form-control" required ng-model="newUser.address1" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userAddress1.$error)"></div>
          </div>
        </div>

        <div class="col-md-6">
         <div class="form-group">
            <label>Address line 2</label>
            <input name="userAddress2" type="text" placeholder="Enter your address" class="form-control" ng-model="newUser.address2" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userAddress2.$error)"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
         <div class="form-group">
            <label>Town/city *</label>
            <input name="userCity" type="text" placeholder="Enter your town/city" class="form-control" required ng-model="newUser.city" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userCity.$error)"></div>
          </div>
        </div>

        <div class="col-md-6">
         <div class="form-group">
            <label>Post code *</label>
            <input name="userPost" type="text" placeholder="Enter your post code" class="form-control" required ng-model="newUser.post" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userPost.$error)"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
         <div class="form-group">
            <label>Country *</label>
            <select name="userCountry" class="form-control" ng-options="country.code as country.name_en for country in countryslist" required ng-model="newUser.country">
              <option value="">Select your country</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
         <div class="form-group">
            <label>Phone number *</label>
            <input name="userPhone" type="text" placeholder="Enter your phone number inc. country code" class="form-control" required ng-model="newUser.phone" />
            <div class="error" ng-show="showValidation"  ng-bind-html="getError(validForm.userPhone.$error)"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="checkbox">
            <label>
              <input name="userAgreed" type="checkbox" ng-model="newUser.agreed">
              I am over 18 and I agree with the Terms & Conditions copy
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="userOpt" type="checkbox" ng-model="newUser.opt">
              Opt in for campaign messages copy
            </label>
          </div>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="gotoTop()">Submit button</button>
        </div>
      </div>

    </div>
  </form>
  </div>
  <hr></hr>
  <footer>
    <div class="container"> 
      <div class="row">
        <div class="col-md-12">
          <a href="#">Terms & Conditions</a> | <a href="#">FAQs</a>
           
        </div>
      </div>
    </div>
  </footer>
  <script src="registration-app.js"></script>
</body>
</html>