$gliph-size: 45px;
$phone: "(min-width: 300px) and (max-width : 767px)";

@mixin borderarrow ($color) {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid $color;
  @content;
}

@mixin mrgbottom ($mgr){
  margin-bottom: $mgr;
}
// **CONTENT**
#logo{
  @include mrgbottom(60px);

  @media #{$phone}{
    display: none;
    visibility: hidden;
  }
}

.header-form {
  @include mrgbottom(30px);
}

#img-header {
  height: 250px;

  @media #{$phone} {
    height: 150px
  }
}

.header-block {
  position: relative;
  background-attachment: fixed; 
  background-image: url(images/header_bg.jpg); 
  background-size: cover;
  background-position: bottom right;
}

.pattern {
  background-image: url(images/pattern.png);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
}

.header-context-block{
  color: #fff;
  left: 50%;
  margin-left: -150px;
  position: absolute;
  text-align: center;
  top: 18%;
  width: 300px;
  z-index: 120;

  @media #{$phone}{
    top:3%;
  }
}

.alert-msg{
  p{
    padding-top: 15px;

    @media#{$phone}{
      padding-top: 0px;
    }
  }
}

.gliph-large{
  font-size: $gliph-size;
}

.bg-danger{
  padding: 15px;
}

div.error{
  color: #fff;
  margin-top: 8px;
  position: relative;
}

.arrow::before{
  @include borderarrow(#e74c3c){
    content: "";
    left: 6%;
    margin-left: -15px;
    position: absolute;
    top: -5px;
  }
}

footer{
  padding-bottom:20px;
}
